<%#
if @comp_moves=="rock"
    @outcome="tied"
elsif @comp_moves=="paper"
    @outcome="lost"
else
    @outcome="won"
end
%>

<h2>
We played rock!
</h2>

  <h2>
  They played <%=@comp_moves%>!
  </h2>
  
  <h2>
  We <%=@outcome%>!
  </h2>

    <div><a href="/">Rules</a></div>
